<select style="background-color: #7c7c7c; border: 2px solid #525252; border-radius: 5px">
  <option>IPhone</option>
  <option>Samsung</option>
  <option>Huawei</option>
</select>


<div style="margin-top: 135px">
  <div style="display: flex; justify-content: center; align-items: center">
    <img style="justify-items: center; position: absolute; top: 100px" src="assets/img/screen.png" alt="">
  </div>


  <div style="display: flex; justify-content: center; position: relative; top: -12px">
    <!--  <iframe class="screen-image" src="http://localhost:4200/"></iframe>-->
    <iframe class="screen-image" src="http://localhost:4200/"></iframe>

  </div>

</div>
