<select class="selection" #phone (change)="changeDevice(phone.value)">
  <option selected>{{localStorage.getItem("device-name")}}</option>
  <ng-container *ngFor="let phone of deviceList">
    <option *ngIf="localStorage.getItem('device-name') != phone">
      {{phone}}
    </option>
  </ng-container>
</select>



<!--All Screens:-->

<ng-container *ngIf="localStorage.getItem('device-name') == 'IPhone'">
  <div class="center" style="margin-top: 70px">
    <img class="iphone-frame" src="assets/img/iphone-chrome.png">
    <iframe class="iphone-screen" [src]="url"></iframe>
    <input value="{{localStorage.getItem('url')}}" #input (change)="loadURL(input.value)" class="url-iphone" type="url">

    <label class="time">{{time}}</label>
  </div>
</ng-container>


<ng-container *ngIf="localStorage.getItem('device-name') == 'MacBook'">

  <div class="center" style="margin-top: 70px">
    <img class="iphone-frame" src="assets/img/MacBook-Chrome.png">
    <iframe class="macbook-screen" [src]="url" src="http://localhost:49513/"></iframe>
<!--    <div class="macbook-screen" ></div>-->

    <input #input (change)="loadURL(input.value)" class="url-macbook" placeholder="{{localStorage.getItem('url')}}" type="url">

  </div>
</ng-container>



<ng-container *ngIf="localStorage.getItem('device-name') == 'IMac'">

  <div class="center" style="margin-top: 70px">
    <img class="iphone-frame" src="assets/img/IMac-chrome.png">
    <iframe class="imac-screen" [src]="url" src="http://localhost:49513/"></iframe>
    <!--    <div class="macbook-screen" ></div>-->

    <input #input (change)="loadURL(input.value)" class="url-imac" placeholder="{{localStorage.getItem('url')}}" type="url">

  </div>
</ng-container>



