.screen-image {
  margin-top: -60px;
  height: 665px;
  width: 320px;
  border: none;
}

.input {
  margin-top: 5px;
  background-color: #797878;
  border-radius: 10px;
  border: 2px solid #3d3d3d
}

.input::placeholder {
  color: black;
}
